<?xml version="1.0"?>

<model>
  <name>8x_shelving_8</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>William Babin-Demers</name>
    <email>babw2501@usherbrooke.ca</email>
  </author>

  <description>
    8x Grocery store shelving with 8 shelves
  </description>
</model>
