<?xml version="1.0" ?>
<launch>
    <!-- Parameters -->
    <arg name="gui"                 default="true"/>
    <arg name="robot_name"          default="paul"/>
    <arg name="paused"              default="true"/>

    <!-- Start the world in Gazebo -->
    <include file="$(find paul_gazebo)/launch/world.launch">
        <arg name="world" value="grocery"/>
        <arg name="gui" value="$(arg gui)"/>
    </include> 

    <!-- Spawn paul into Gazebo -->
    <node name="$(arg robot_name)_spawner" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-x -6.5 -y 0.0 -z 1.0 -urdf -param robot_description -model $(arg robot_name) ">
    </node>
</launch>