<?xml version="1.0" ?>
<launch>
    <!-- Parameters -->
    <arg name="gui"                 default="true"/>
    <arg name="robot_name"          default="paul"/>
    <!-- Gazebo parameters -->
    <arg name="use_sim_time"        default="true"/>
    <arg name="debug"               default="false" />
    <arg name="paused"              default="true"/>

    <!-- Initiate an empty world in Gazebo -->
    <!-- (for more parameters: https://github.com/ros-simulation/gazebo_ros_pkgs/blob/noetic-devel/gazebo_ros/launch/empty_world.launch) -->
    <include file="$(find paul_gazebo)/launch/world.launch">
        <arg name="gui" value="$(arg gui)"/>
    </include> 

    <!-- Spawn paul into Gazebo -->
    <node name="$(arg robot_name)_spawner" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-x -6.5 -y 0.0 -z 1.0 -urdf -param robot_description -model $(arg robot_name) ">
    </node>
</launch>