<?xml version="1.0" ?>
<launch>
    <!-- Gazebo parameters -->
    <arg name="use_sim_time" default="true"/>
    <arg name="debug" default="false" />
    <arg name="gui" default="true" />
    <arg name="paused" default="true" />

    <!-- Initiate an empty world in Gazebo -->
    <!-- (for more parameters: https://github.com/ros-simulation/gazebo_ros_pkgs/blob/noetic-devel/gazebo_ros/launch/empty_world.launch) -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name"      value="$(find paul_gazebo)/worlds/grocery.world"/>
        <arg name="gui"             value="$(arg gui)"/>
        <arg name="use_sim_time"    value="$(arg use_sim_time)"/>
        <arg name="debug"           value="$(arg debug)"/>
        <arg name="paused"          value="$(arg paused)"/>
    </include> 
</launch>