<?xml version="1.0"?>

<model>
  <name>freezer</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>William Babin-Demers</name>
    <email>babw2501@usherbrooke.ca</email>
  </author>

  <description>
    Box with similar dimensions of a freezer
  </description>
</model>
