<?xml version="1.0"?>

<model>
  <name>8x_shelving_4</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>Olivier Roy</name>
    <email>royo2206@usherbrooke.ca</email>
  </author>

  <description>
    8x Grocery store shelving with 4 shelves
  </description>
</model>
